@import "vars";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.header {
  background-color: $accent;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 640px) {
  .header {
    padding: 20px;
  }
}

.container {
  padding: 0 20px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  .header {
    padding: 0px;
  }
}

.menu__btn {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  position: relative;
  &::after {
    content: "";
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: $accent;
    border-radius: 1px;
    left: 13px;
    top: 15px;
  }
}
